#section-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(120px, 38vh) minmax(120px, 38vh);
  grid-template-areas: "item1 item2" "item1 item3";
  padding-left: 10px;
  row-gap: 10px;
  column-gap: 10px;
}

#section-1 article:nth-child(1) {
  grid-area: item1;
}

#section-1 article:nth-child(2) {
  grid-area: item2;
}

#section-1 article:nth-child(3) {
  grid-area: item3;
}

#section2-article-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: minmax(251px, 38vh) minmax(251px, 38vh);
  row-gap: 10px;
  column-gap: 10px;
}

#section-3>div {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 1fr;
  column-gap: 10px;
}

#section-3>div article:nth-child(4) {
  display: none;
}

#section-3>ul {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}

#section-3>ul li:nth-child(2) {
  border-left: 1px solid #f64221;
  border-right: 1px solid #f64221;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#section-4 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 10px;
  row-gap: 10px;
}

#section-5 {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 10px;
  row-gap: 10px;
}
